img {
  width: 500px;
}

h2 {
  margin-bottom: 30px;
}

.conteneur_image {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 20px;
  text-align: justify;
}

.conteneur_texte {
  max-width: 60%;
}

.retour {
  display: block;
  margin-top: 150px;
  padding: 10px 20px;
  background-color: #f6f4f0;
  border-radius: 30px;
  margin-right: 0px;
  margin-left: 760px;
  text-align: center;
  border: 1px solid #323232;
}

.ajouter_panier {
  background-color: #f6f4f0;
  color: #323232;
  padding: 2px;
  border: 1px solid #323232;
  transition: background-color 0.5s ease;
  margin-top: 10px;
  display: block;
}

input[type="submit"]:hover {
  background-color: #323232;
  color: #f6f4f0;
}
