form {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
p {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #333;
  font-weight: 600;
}

input[type="email"],
input[type="password"],
input[type="texte"],
input[type="tel"] {
  width: 100%;
  padding: 0px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

input[type="submit"] {
  background-color: #f6f4f0;
  color: #323232;
  padding: 10px 20px;
  border: 1px solid #323232;
  border-radius: 30px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  margin-left: 165px;
}

input[type="submit"]:hover {
  background-color: #323232;
  color: #f6f4f0;
}

.retour {
  position: absolute;
  margin-top: -50px;
  right: 150px;
  padding: 10px 20px;
  background-color: #f6f4f0;
  border-radius: 30px;
  margin-right: 0px;
  margin-left: 760px;
  text-align: center;
  border: 1px solid #323232;
}
